@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-ThinItalic.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-ThinItalic.woff") format("woff");
  }

  /* @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("Inter-ExtraLight.woff2?v=3.19") format("woff2"),
         url("Inter-ExtraLight.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("Inter-Light.woff2?v=3.19") format("woff2"),
         url("Inter-Light.woff?v=3.19") format("woff");
  } */
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Regular.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Medium.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Medium.woff2") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-SemiBold.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-SemiBold.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Bold.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Bold.woff") format("woff");
  }
  
  /* @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-ExtraBold.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-ExtraBold.woff") format("woff");
  } */
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Black.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Black.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("fonts/Inter_Web/Inter-roman.var.woff2") format("woff2");
  }

.page {
    background-color: #2A2C2F;
    max-width: 1280px;
    margin: auto;
    color: #FFFFFF;
    font-family: 'Inter';
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;


}
.header {
    margin: 28px 48px 0px 48px;
    max-width: 93%;
    max-height: 52px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 176px;
    max-height: 100%;
}

.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-top: 18px;
    padding-bottom: 6px;

}
.header__lang-link_ru {
    text-decoration: underline;
    color: #FFFFFF;
    
}
.header__lang-link_en {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 18px;
}

.lead {
    max-width: 77%;
    /* max-height: 962px; */
    /* margin: 54px 48px 0px 48px; */
    margin: 54px auto 0px auto;
}

.lead__title {
    max-width: 720px;
    max-height: 200px;
    font-weight: 900;
    font-size: 6rem;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 36px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
    margin: 0 auto 0 auto;
}

.lead__image {
    width: 100%;
    height: 615px;
    position: relative;
    background-image: url("images/kalegin-michail-179870-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.lead__group-4 {
    max-width: 100%;
    position: absolute;
    left: 21.95px;
    right: 22.3px;
    top: 85.07px;
    bottom: 246.9px;
    z-index: 1;

}

.lead__caption {
    padding-top: 8px;
    max-width: 158px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 0;
}

.intro {
    padding-top: 92px;
    margin-left: 11.5%;
    max-width: 54%;
}

.intro__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    margin-top: 0;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
}

.intro__list {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 92px;
}

.photo-grid {
    display: grid;
    /* max-width: 91%; */
    grid-template-columns: repeat(auto-fit, 284px);
    gap: 1rem;
    grid-auto-rows: 1fr;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.photo-grid__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        display: grid;
        /* max-width: 91%; */
        grid-template-columns: repeat(auto-fit, 300px);
        /* gap: 0.8rem; */
        grid-auto-rows: 1fr;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        display: grid;
        /* max-width: 91%; */
        grid-template-columns: repeat(auto-fit, 325px);
        /* gap: 1rem; */
        grid-auto-rows: 1fr;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}

@media screen and (min-width: 320) and (max-width: 767px) {
    .photo-grid {
        display: grid;
        /* max-width: 91%; */
        grid-template-columns: repeat(auto-fit, 288px);
        /* gap: 0.7rem; */
        grid-auto-rows: 1fr;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .lead__image {
       max-width: 100%;
    }
}