@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-ThinItalic.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-ThinItalic.woff") format("woff");
  }

  /* @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("Inter-ExtraLight.woff2?v=3.19") format("woff2"),
         url("Inter-ExtraLight.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("Inter-Light.woff2?v=3.19") format("woff2"),
         url("Inter-Light.woff?v=3.19") format("woff");
  } */
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Regular.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Medium.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Medium.woff2") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-SemiBold.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-SemiBold.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Bold.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Bold.woff") format("woff");
  }
  
  /* @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-ExtraBold.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-ExtraBold.woff") format("woff");
  } */
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Black.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Black.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("fonts/Inter_Web/Inter-roman.var.woff2") format("woff2");
  }

.page {
    background-color: #2A2C2F;
    max-width: 1290px;
    margin: auto;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;


}
.header {
    margin: 28px 48px 0px 48px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 176px;
    max-height: 100%;
}

.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-top: 18px;
    padding-bottom: 6px;

}
.header__lang-link_ru {
    text-decoration: underline;
    color: #FFFFFF;
    
}
.header__lang-link_en {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 18px;
}

.lead {
    display: flex;
    max-width: 984px;
    flex-direction: column;
    align-items: center;
    margin: 54px auto 0px auto;
}

.lead__title {
    max-width: 720px;
    max-height: 200px;
    font-weight: 900;
    font-size: 6rem;
    line-height: 100px;
    text-align: center;
    margin: 48px auto 0 auto;
}

.lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 36px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
    margin: 0 auto 0 auto;
}

.lead__image {
    width: 100%;
    object-fit: cover;
    margin: 0 auto 0 auto;
    object-position: center;

}

.lead__caption {
    padding-top: 8px;
    max-width: 158px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 0;
    align-self: flex-start;
}

.intro {
    padding-top: 92px;
    margin-left: 11.5%;
    max-width: 54%;
}

.intro__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    margin-top: 0;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
}

.intro__list {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 92px;
    white-space: pre-line;
}

.photo-grid {
    display: grid;
    /* max-width: 91%; */
    grid-template-columns: repeat(4, 284px);
    gap: 1rem;
    grid-auto-rows: 1fr;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.photo-grid__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.places {
    display: grid;
    max-width: 984px;
    margin: 92px auto 0px auto;
    row-gap: 80px;
    justify-content: center;
}

.places__place {
    display: grid;
    max-width: 984px;
    grid-template-columns: repeat(auto-fit, minmax(calc((100% - 40px)/2), 1fr));
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 auto 0 auto;
}

.place__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 76px;
    margin: 0;

}

.place__image {
    width: 100%;
}

.place__website {
    align-self: end;
}

.website__url-heading {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 12px;
    letter-spacing: 2px;
    padding: 0 0 12px 0;
    color: #AAAAAA;
}

.website__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: underline;
}

.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    padding: 0;
}
.place__paragraph-text {
    padding-bottom: 27px;
    margin: 0;
}

@media (max-width: 1279px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 0.8rem;
}
}

@media (max-width: 990px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 325px);
    }
    .lead {
        margin: 0;
    }
    .places {
        row-gap: 73px;
    }
    .places__place {
        grid-template-columns: repeat(auto-fit, minmax(calc((100% - 28px)/2), 1fr));
        column-gap: 28px;
    }
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 750px) {
    .photo-grid {
        grid-template-columns: repeat(1, 288px);
        gap: 0.7rem;
    }
    .lead__title {
        font-size: 2.5rem;
        line-height: 44px;
    }
    .lead__subtitle {
        font-size: 1rem;
        line-height: 20px;
    }
    .intro__title {
        font-size: 2rem;
        line-height: 35px;
    }
    .places {
        row-gap: 50px;
    }
    .places__place {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }

}
