@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-ThinItalic.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-ThinItalic.woff") format("woff");
  }

  /* @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("Inter-ExtraLight.woff2?v=3.19") format("woff2"),
         url("Inter-ExtraLight.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("Inter-Light.woff2?v=3.19") format("woff2"),
         url("Inter-Light.woff?v=3.19") format("woff");
  } */
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Regular.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Medium.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Medium.woff2") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-SemiBold.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-SemiBold.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Bold.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Bold.woff") format("woff");
  }
  
  /* @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-ExtraBold.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-ExtraBold.woff") format("woff");
  } */
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/Inter_Web/Inter-Black.woff2") format("woff2"),
         url("fonts/Inter_Web/Inter-Black.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("fonts/Inter_Web/Inter-roman.var.woff2") format("woff2");
  }

.page {
    background-color: #2A2C2F;
    max-width: 1280px;
    margin: auto;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;


}

/* header */

.header {
    margin: 28px 48px 0px 48px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 176px;
    max-height: 100%;
}

.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-top: 18px;
    padding-bottom: 6px;

}
.header__lang-link_ru {
    text-decoration: underline;
    color: #FFFFFF;
    
}
.header__lang-link_en {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 18px;
}

/* lead section */

.lead {
    display: flex;
    max-width: 984px;
    flex-direction: column;
    align-items: center;
    margin: 56px auto 0px auto;
}

.lead__title {
    max-width: 720px;
    max-height: 200px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
    margin: 0 auto 0 auto;
}

.lead__image {
    width: 100%;
    object-fit: cover;
    margin: 0 auto 0 auto;
    object-position: center;

}

.lead__caption {
    padding-top: 8px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 0;
    align-self: flex-start;
    text-transform: uppercase;
}

/* intro section */

.intro {
    padding-top: 92px;
    margin-left: 11.5%;
    max-width: 690px;
}

.intro__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    margin-top: 0;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
}

.intro__list {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 92px;
    white-space: pre-line;
}

/* photo-grid section */

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    gap: 14px;
    grid-auto-rows: 1fr;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.photo-grid__item {
    width: 100%;
    object-fit: cover;
}

/* places-grid section */

.places {
    display: grid;
    max-width: 984px;
    margin: 92px auto 0px auto;
    row-gap: 80px;
    justify-content: center;
}

.places__place {
    display: grid;
    max-width: 984px;
    grid-template-columns: 460px 484px;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 auto 0 auto;
}

.place__title {
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;

}

.place__image {
    width: 100%;
}

.place__website {
    align-self: end;
}

.website__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    padding: 0 0 12px 0;
    color: #AAAAAA;
    margin: 0;
}

.website__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: underline;
    margin: 0;
}

.website__link:hover {
    opacity: 80%;
}

.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    padding: 0;
    margin: 0 auto;
}

.place__paragraph-text {
    padding-bottom: 26px;
    margin: 0;
    padding-top: 0;
}

.place__paragraph-text:nth-last-of-type(1) {
    padding-bottom: 0px;
}

/* cover section */

.cover {
    max-width: 1184px;
    max-height: calc(0.62*100vw);
    margin: 92px auto 0 auto;
    box-sizing: border-box;
}

.cover__background {
    background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url("images/cover-trains.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.cover__link {
    text-decoration: none;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
    padding: 245px 312px 245px 312px;
    display: block;
}

.cover__link:hover {
    background-color: rgba(42, 44, 47, 0.8);
}

.cover__title {
    max-width: 560px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}
.cover__subtitle {
    max-width: 360px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 32px 0 0 0;
}

/* footer */

.footer {
    display: flex;
    max-width: 1184px;
    justify-content: space-between;
    align-content: flex-end;
    margin: 92px auto 24px auto;
}

.footer__links {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.footer__link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0 18px 0 0;
    padding: 0;
}


.footer__copyright {
    width: 186px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    padding: 0;
    margin: 0;

}



/* media requests */

@media screen and (max-width: 1279px) {
    .lead {
        max-width: 928px;
        margin-top: 48px;
    }

    .lead__subtitle {
        padding-bottom: 56px;
    }

    .intro {
        margin-left: 48px;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 14px;
    }

    .places__place {
        grid-template-columns: 440px 456px;
        column-gap: 32px;
    }

    .cover__link {
        padding: 195px 232px 195px 232px;
    }

    .footer {
        max-width: 928px;
    }
}


@media screen and (max-width: 980px) {
    .header {
        margin-left: 24px;
        margin-right: 24px;
    }

    .lead__caption {
        margin-left: 3%;
    }

    .intro {
        margin-left: 24px;
        max-width: 720px;
        padding-top: 88px;
    }

    .intro__list {
        padding-bottom: 88px;
    }

    .photo-grid {
        grid-template-columns: repeat(2, 352px);
        gap: 16px;
    }

    .places {
        row-gap: 73px;
        max-width: 720px;
        margin-top: 88px;
    }

    .places__place {
        grid-template-columns: 340px 352px;
        column-gap: 28px;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
    }

    .place__paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 26.08px;
    }

    .place__paragraph-text {
        padding-bottom: 25px;
        margin: 0;
        padding-top: 0;
    }

    .cover {
        margin-top: 90px;
    }

    .footer {
        margin-top: 88px;
    }

    .cover__link {
        padding: 115px 114px 115px 114px;
    }

    .footer {
        margin-left: 24px;
        margin-right: 24px;
    }
}

/* @media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(1, 288px);
        gap: 0.7rem;
    }
    .lead__title {
        font-size: 2.5rem;
        line-height: 44px;
    }
    .lead__subtitle {
        font-size: 1rem;
        line-height: 20px;
    }
    .intro__title {
        font-size: 2rem;
        line-height: 35px;
    }
    .places {
        row-gap: 50px;
        max-width: 320px;
    }
    .places__place {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
    }

    .footer {
        max-width: 480px;
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
    }
    .footer__links {
        margin: 0 48px 0 auto;
        flex-direction: column;
    }
    .footer__link {
        padding-bottom: 32px;
    }
    .footer__copyright {
        text-align: left;
    }
} */

@media screen and (max-width: 425px) {
    .header {
        max-width: 288px;
        margin: 16px 16px 0 16px;
    }

    .header__logo {
        max-width: 142px;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }

    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }

    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
        padding-bottom: 40px;
    }

    .lead__caption {
        margin-left: 16px;
    }

    .intro {
        padding-top: 64px;
        max-width: 288px;
        margin-left: 16px;
    }
    
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .intro__text {
        margin-bottom: 34px;
    }

    .intro__list {
        padding-bottom: 64px;
    }

    .photo-grid {
        grid-template-columns: 288px;
        gap: 12px;
    }

    .places {
        margin-top: 64px;
        row-gap: 50px;
        max-width: 320px;
    }

    .places__place {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }

    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }

    .place__website {
        padding: 0 16px;
    }

    .place__paragraph {
        padding: 0 16px;
    }

    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
    }
    
    .cover__link {
        padding: 33px 16px;
    }

    .footer {
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
    }
    .footer__links {
        margin: 0 48px 0 auto;
        flex-direction: column;
    }
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 32px;
    }
    .footer__link:nth-last-of-type(1) {
        padding-bottom: 48px;
    }
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        text-align: left;
    }


}
/* to-do:
cover картинку в див как в lead
footer и header адаптировать */