.place__website-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: underline;
    margin: 0;
}

.place__website-link:hover {
    opacity: 80%;
}