.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    padding: 0;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    .place__paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 26.08px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        padding: 0 16px;
    }
}
