.footer__link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.footer__link:hover {
    opacity: 80%;
}

@media screen and (max-width: 630px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}