.footer__links-item {
    margin: 0 18px 0 0;
    padding: 0;
}


@media screen and (max-width: 630px) {
    .footer__links-item {
        padding-bottom: 32px;
    }
    .footer__links-item:nth-last-of-type(1) {
        padding-bottom: 48px;
    }
}