.place {
    display: grid;
    max-width: 984px;
    grid-template-columns: 460px 484px;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 1200px) {
    .place {
        grid-template-columns: 440px 456px;
        column-gap: 32px;
    }
}

@media screen and (max-width: 980px) {
    .place {
        grid-template-columns: 340px 352px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}